@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #6d6d31;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	// background: url()
	// background: linear-gradient(
	// 		to bottom,
	// 		transparent,
	// 		rgb(var(--background-end-rgb))
	// 	)
	// 	rgb(var(--background-start-rgb));
}

.container {
	max-width: 640px;
}
.mobile-only {
	@media screen and (min-width: 640px) {
		display: none;
	}
}
.desktop-only {
	@media screen and (max-width: 640px) {
		display: none;
	}
}
.bg {
	object-fit: cover;
	position: relative;
	z-index: -1;
	position: fixed;
	top: 0;
}
.retreats {
}
.retreat {
	// height: 200px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	.thumb {
		width: 125px;
		height: 125px;
		min-width: 125px;
		position: relative;
		margin-right: 15px;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			border: 2px solid $primary;
			overflow: hidden;
			border-radius: 7px;
		}
	}
	.date {
		background-color: #956123;
		color: white;
		padding: 0 5px;
		font-size: 14px;
		margin-bottom: 5px;
	}
	color: $primary;
	.header {
		h1 {
			font-size: 1.5em;
			font-weight: bold;
			margin-bottom: 5px;
			line-height: 1.17;
		}
		h5 {
			font-style: italic;
			font-size: 12px;
			font-weight: normal;
		}
	}
	.col-span-5 {
		height: 100%;
		position: relative;
	}
	&.full {
		min-height: calc(100vh - 100px);
		hr {
			margin: 1.3em 0;
			border-color: rgba(109, 109, 49, 0.19);
		}
		.desc {
			margin-bottom: 10px;
			font-size: 0.87em;
			line-height: 1.7;
			ul {
				list-style: unset;
				margin-left: 20px;
			}
			h2 {
				font-size: 1.3em;
				font-weight: bold;
				// margin-top: 1em;
				margin-bottom: 0.3em;
			}
			h3 {
				font-size: 1.2em;
				font-weight: bold;
			}
			h4 {
				font-size: 1.1em;
				font-weight: bold;
			}
			p,
			ul {
				margin-bottom: 1.5em;
			}
		}
		ul.feats {
			display: flex;
			margin: 1em 0;
			li {
				display: flex;
				font-size: 13px;
				border-radius: 2px;
				color: #6d6d31;
				border: 1px solid #6d6d31;
				background-color: #f0f0de;
				line-height: 22px;
				padding: 0 5px;
				margin-right: 5px;
				img {
					margin-right: 5px;
				}
			}
		}
		h4 {
			font-size: 18px;
			font-style: normal;
		}
		.full-details {
			h3 {
				font-size: 1.5em;
				margin-bottom: 0.5em;
			}
			.label {
				font-size: 0.88em;
			}
		}
		.amount {
			.ant-btn {
				font-size: 1.5em;
				color: $primary;
				line-height: 0;
				&[disabled] {
					color: #ccc;
				}
			}
			.value {
				line-height: 2.4;
				font-weight: 500;
				margin: 0 0.5em;
				color: #3a3a3a;
			}
		}
	}
	.next-btn {
		margin-top: auto;
		background-color: $primary;
	}
}
